/* specificity calculator*/
/* a=number of id */
/* b=number of class, pesduo classes,attributes*/
/* b=number of elements,pesduo elements, attributes*/









/*a=0 b=0 c=1 =001 */

h1 {
    background-color: blue;
}

/* a=0 b=0 c=1 =001
h1{
    background-color: rgb(0, 255, 21);
}

#heading {
    background-color: blueviolet;
}
 /* a=0 b=0  c=1 =010*/

.titel{
    background-color: brown
    
    ;
}